
<div class="row">
    <div class="col-6">
        <a asp-route-id="@ViewData["Id"]" asp-page="Edit" class="btn btn-primary form-control">Edit</a>
       
    </div>
    <div class="col-6">
        <a asp-page="Index" class="btn btn-success form-control">Back To List</a>
    </div>
</div>